.logo-wrap{
	padding: 20px;
}
.h-title{
	font-size: 20px;
}
.h-table th.text-center{
	font-size: 18px;
	color: rgba(230,0,45,0.8);
}

/* 工长登陆页面 */
.gz-login{
	border-bottom: 2px solid rgba(230,0,45,0.8);
	box-shadow:0px 0px 3px 3px #ccc;
}
.gz-sign{
	font-size:18px;
	margin-bottom:1rem;
}
.gz-sign input{
	margin-left:2rem;
	height:1rem;
	width:1rem;
}

/* 用户登陆 */
.w-sign{
	position: relative;
}
.w-sign .n-register{
	position: absolute;
	top:1rem;
	right:1rem;
	font-size:16px;
	color:green;
}

/* 业主评价表单 */
.comment-form .btn{
	background:rgba(230,0,45,0.8);
	color:#fff;
}
.w-table{
	width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.w-table thead tr th{
	text-align:center;
	padding:5px;
	font-size:18px;
	color:#969696;
}
.w-table tbody tr{
	text-align:center;
}
.w-table tbody td{
	padding:8px;
}